.container{
    display: grid;
    grid-template-areas:
            "header content"
            "sidebar content"
            "sidebar footer";
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: 100px;
    grid-gap: 20px;
}

header{
    grid-area: header;

}

article{
    grid-area: content;

}

aside{
    grid-area: sidebar;
}

footer{
    grid-area: footer;
}

html, body{
    height:90%;
}

header, aside, article, footer{
    border: 1px solid cornflowerblue;
    /*background-color: lightseagreen;*/
    text-align: center;
    font-size: 40px;
}

.redBackground
{
    background: red;
}

.blueBackground
{
    background: blue;
}